.body_bg
{
    background-image: linear-gradient(to right, #96c93d, #00b09b); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.html{
    height:100px;
}

.input_size{
    font-size: xx-large;
}

.body_bg2{
    background-image: linear-gradient(to right, #03001e, #7303c0, #ec38bc, #fdeff9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.p_text{
    font-size: 50px;
    color: darkblue;
    text-align: center;
    background-color: #fdeff9 ;
    margin-left: 300px;
    margin-right:300px;
    margin-top:80px;
}